@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}
* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: Inter, "Noto Sans Khmer", system-ui, -apple-system, Segoe UI,
  Roboto, Arial, "Helvetica Neue", sans-serif;
  background: #fff;
}
button:focus-visible {
  outline: 2px solid #6366f1;
  outline-offset: 2px;
}

:root {
  --bg: 250 250 250;
  --card: 255 255 255;
  --text: 15 23 42;
  --muted: 100 116 139;
  --border: 226 232 240;
  --accent: 59 130 246;
}

html,
body,
#__next,
#root {
  background-color: rgb(var(--bg));
  color: rgb(var(--text));
  transition: background-color 0.2s ease, color 0.2s ease;
  margin: 0;
  padding: 0;
}

* {
  transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease;
}

.card {
  background-color: rgb(var(--card));
  border: 1px solid rgb(var(--border));
  color: rgb(var(--text));
}

.button {
  background-color: rgb(var(--bg));
  color: rgb(var(--text));
}
.text{
  color: rgb(var(--accent));
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("data:image/svg+xml;utf8,<svg fill='white' width='16' height='16' viewBox='0 0 20 20'><path d='M5 7l5 5 5-5'/></svg>");
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 14px;
}


select {
  background-color: #1f1f1f; 
  color: white;             
}

select::-webkit-scrollbar {
  width: 6px;
}
select::-webkit-scrollbar-track {
  background: #3a3a3a;
}
select::-webkit-scrollbar-thumb {
  background: #ff4d4d;  
  border-radius: 4px;
}
select::-webkit-scrollbar-thumb:hover {
  background: #ff1a1a;
}
article p {
  text-indent: 2em;
}
